# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# ML/Data
data/egohands/
models/*.pt
models/train*/
models/hand_localization/
models/grasp_intensity_best/
runs/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

GEMINI.md
yolov8n-pose.pt
